{% extends ':admin:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 text-left">
            Total Count : {{ pagination.getTotalItemCount }}
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" href="{{ url('create_post') }}">Create Post</a>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-1">{{ knp_pagination_sortable(pagination, 'Id', 'post.id') }}</th>
            <th class="col-md-6">{{ knp_pagination_sortable(pagination, 'Title', 'post.title') }}</th>
            <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'Category', 'category.name') }}</th>
            <th class="col-md-2 text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {# table body #}
        {% for post in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.category.name is defined ? post.category.name : '' }}</td>
                <td class="text-right">
                    <a class="text-warning" href="{{ url('edit_post', {id: post.id}) }}">Edit</a> |
                    <a class="text-danger" href="{{ url('delete_post', {id: post.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock body %}

